
<div class="bd-example">

<ul class="nav nav-pills  nav-tabs pull-right">
  <li role="presentation"  class="active">
    <a href="#">Active</a>
  </li>
 
  <li role="presentation" class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Dropdown <span class="caret"></span>
  </a>
    <ul class="dropdown-menu">
      <li> <a  href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li> <a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </li>
  
  <li class="presentation">
    <a href="#">Link</a>
  </li>
  <li class="presentation">
    <a class="disabled" href="#">Disabled</a>
  </li>
</ul>
<div>
  <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
  NTMT1788
</div>
</div>
